.cartList {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 1380px) {
        flex-direction: column;
    }

    .product {
        flex: 1;
        background-color: white;
        padding: 1rem;

        .heading {
            font-weight: 500;
            font-size: 1.7rem;
            padding-bottom: 5px;
            border-bottom: 1px solid#DDD;
        }

        .list {
            padding: 1.6rem 0 0 1rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            li {
                padding-bottom: 5px;
                border-bottom: 1px solid#DDD;
            }
        }
    }
}

.cartItem {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(200px, 220px);

    .details {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        grid-column: span 5;

        .title {
            font-size: 1.1rem;
            margin: 0 0 8px 0;

            @media screen and (max-width: 784px) {
                font-size: 1rem;
            }
        }

        .description {
            font-size: 0.78rem;
            line-height: 1.7;
            margin-right: 8px;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }

        .prime {
            display: flex;
            align-items: center;

            p {
                color: gray;
                margin-left: 20px;
                font-size: 12px;
            }
        }
    }

    .cartOptions {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .qty {
            display: flex;
            align-items: center;

            p {
                margin-right: 10px;
            }

            .price {
                font-size: 1.25rem;
                font-weight: 400;
                margin-left: 12px
            }
        }

        .removeBtn {
            margin: 0 auto;
        }
    }
}