$light: #232F3E;
$default: #131921; 

// .header {}
.top_nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $default;
    max-height: 60px;
    color: white;
}

.nav_logo{
    margin: 0 15px 0 3px;
    display: flex;
    place-items: center;
    &>span{
        margin-bottom: 7px;
    }
}

.logo {
    cursor: pointer;
}

.select_addr{
    margin: 0 20px 0 0px;
    cursor: pointer;
    .location_icon{
        height: 20px;
    }

    div:nth-child(1){
        font-size: 12px;
        margin-left: 20px;
    }

    & span{
        font-weight: bold;
        font-size: 0.90rem;
    }
}

.searchBar{
    flex:0.98;
}

.orders{
    font-size: 0.94rem;
    font-weight: bold;
    margin: 0 10px 0 5px;
    cursor: pointer;
    div{
        font-size: 12px;
        font-weight: 300;
    }
}

.cart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .order_no{
        position: absolute;
        top: -8px;
        right: 30px;
        height: 1rem;
        width: 1rem;
        background-color: yellow;
        text-align: center;
        border-radius: 9999px;
        color: black;
        font-weight: bold;
    }

    .carticon{
        height: 40px;
    }
    span:last-of-type{
        display: none;
        margin-top: 5px;    
        @media screen and (min-width:1024px) {
            display: inline;
        }
    }
    // margin: 0 0 0 10px;
    @media screen and (min-width:1024px) {
        transform: translateX(5px);   
    }
}