.userlogin{
    margin: 0 20px 0 25px;
    cursor: pointer;
    div:nth-child(1){
        font-size: 12px;
    }

    div:nth-child(2){
        font-size: 0.94rem;
        font-weight: bold;
        @media screen and (max-width: 821px) {
            font-size: 12px;
        }
    }

    &:hover{
        text-decoration: underline 0.2px;
    }

    @media screen and (max-width: 440px) {
        margin: 0 15px 0 10px;
    }
}