.productGrid{
    display: grid;
    grid-auto-flow: row dense;
    z-index: 101;

    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (min-width: 768px){
        grid-template-columns: repeat(2,minmax(0,1fr));
        margin-top: -8rem;
    }

    @media screen and (min-width: 1024px){
        grid-template-columns: repeat(3,minmax(0,1fr));
    }

    @media screen and (min-width: 1280px){
        grid-template-columns: repeat(4,minmax(0,1fr));
    }

    .banner{
        justify-self: center;
        max-width: 100%;
        height: auto;

        @media screen and (min-width:768px) {
            grid-column: 1/-1;
        }
    }

    .span2{
        grid-column: span 2;
        align-self: center;
    }
}